<h1 class="welcome-admin">Admin profil</h1>
<h5 class="welcome">Üdv, Admin!</h5>
<div class="container">
    <div class="profile-content">
        <div class="profile-info">
            <div>
                <strong>Felhasználónév:&nbsp;</strong>
                <span>Admin</span>
            </div>
            <div>
                <strong>Teljes név:&nbsp;</strong>
                <span>Admin</span>
            </div>
            <div>
                <strong>Email:&nbsp;</strong>
                <span>admin&#64;gyumizoli.hu</span>
            </div>
        </div>
        <div class="profile-picture-container">
            <img src="" alt="Profilkép">
        </div>
    </div>
    <div class="actions">
        <a routerLink="/admin/users">
            Felhasználók módosítása
            <i class="bi bi-people-fill"></i>
        </a>
        <a>
            Termékek módosítása
            <i class="bi bi-box"></i>
        </a>
        <a>
            Rendelések módosítása
            <i class="bi bi-bag"></i>
        </a>
    </div>
</div>