<div class="card cardmargin">
    <div class="card-body">
        <h5 class="card-title">
            <strong>Regisztráció</strong>
        </h5>
        <div class="form-floating">
            <input [(ngModel)]="registration.name" type="text" class="form-control my-2" id="name" placeholder="Teljes név">
            <label for="name">Teljes név</label>
        </div>
        <div class="form-floating">
            <input [(ngModel)]="registration.address" type="text" class="form-control my-2" id="address" placeholder="Cím">
            <label for="address">Cím</label>
        </div>
        <div class="form-floating">
            <input [(ngModel)]="registration.birth_date" type="date" class="form-control my-2" id="birthDate" placeholder="Születési dátum">
            <label for="birthDate">Születési dátum</label>
        </div>
        <div class="form-floating">
            <input [(ngModel)]="registration.email" type="email" class="form-control my-2" id="email" placeholder="E-mail cím">
            <label for="email">E-mail cím</label>
        </div>
        <div class="form-floating">
            <input [(ngModel)]="registration.phone" type="tel" class="form-control my-2" id="telephone" placeholder="Telefonszám">
            <label for="telephone">Telefonszám</label>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating">
                <input [(ngModel)]="registration.password" [type]="isPasswordVisible ? 'text' : 'password'" class="form-control" id="password" placeholder="Jelszó">
                <label for="password">Jelszó</label>
            </div>
            <span class="eye input-group-text" (click)="togglePasswordVisibility()">
                <i class="bi bi-eye"></i>
            </span>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating">
                <input [(ngModel)]="confirmPassword" [type]="isConfirmPasswordVisible ? 'text' : 'password'" class="form-control" id="passwordAgain" placeholder="Jelszó újra">
                <label for="passwordAgain">Jelszó újra</label>
            </div>
            <span class="eye input-group-text" (click)="toggleConfirmPasswordVisibility()">
                <i class="bi bi-eye"></i>
            </span>
        </div>
        <button type="button" class="btn btn-primary registration-button" (click)="register()" [disabled]="!registration.email || !registration.password || (registration.password != confirmPassword)">
            Regisztráció
            <i class="bi bi-person-plus-fill"></i>
        </button>
    </div>
    <div class="loginmargin">
        <div class="line"></div>
        <h6>Már van fiókod?</h6>
        <div class="line"></div>
    </div>
    <button routerLink="/login" type="button" class="btn btn-primary login-button">
        Bejelentkezés
        <i class="bi bi-door-open-fill"></i>
    </button>
</div>

<!-- Felugró üzenet -->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div *ngIf="isToastVisible" class="toast align-items-center text-white border-0 fade show"
        [ngClass]="{
            'bg-success': toastType === 'success',
            'bg-danger': toastType === 'danger',
            'bg-warning': toastType === 'warning'
        }" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{ toastMessage }}
            </div>
        </div>
    </div>
</div>