* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 10px 20px;
    background-color: #59b84c;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.nav-list li a:hover {
    background-color: #85db89;
    padding: 5px;
    border-radius: 20px;
    font-weight: bolder;
}

.nav-list li a.active {
    background-color: #85db89;
    padding: 5px;
    border-radius: 20px;
    font-weight: bolder;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.search-bar input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 4px 10px;
    margin-left: 4px;
    border: 1px solid white;
    background-color: #ccc;
    border-radius: 20px;
}

.search-bar button:hover {
    background-color: #85db89;
}

.user-options {
    display: flex;
    align-items: center;
}

.user-options button {
    margin-left: 10px;
    background-color: rgb(27, 162, 27);
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
}

.user-options button:hover {
    background-color: #85db89;
    font-weight: bolder;
}

.language-select {
    margin-left: 10px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    font-size: 14px;
}

.language-select:hover {
    font-weight: bolder;
}

.nav-item.dropdown {
    list-style-type: none;
    margin: 0;
}

.nav-item.dropdown .dropdown-item {
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    display: block;
}

.nav-item.dropdown .nav-link {
    margin-left: 10px;
    background-color: rgb(27, 162, 27);
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.nav-item.dropdown .nav-link:hover {
    background-color: #85db89;
    font-weight: bolder;
}

.shopping-cart {
    display: flex;
    align-items: center;
}

.shopping-cart button {
    padding: 4px 10px;
    margin-left: 15px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
}