<nav class="navbar">
    <div class="nav-container">
        <ul class="nav-list">
            <li *ngFor="let menuItem of menuItems">
                <a [routerLink]="menuItem.path" routerLinkActive="active">{{menuItem.text}}</a>
            </li>
        </ul>
        <form class="search-bar" role="search">
            <input placeholder="Keresés">
            <button class="btn">
                <i class="bi bi-search"></i>
            </button>
        </form>
        <div class="user-options">
            <select class="language-select" [(ngModel)]="selectedLanguage">
                <option *ngFor="let language of languages" [value]="language.code">{{language.name}}</option>
            </select>
        </div>
    </div>
    <div class="user-options">
        <button *ngIf="!userData" routerLink="/login">
            Bejelentkezés
        </button>
        <button *ngIf="!userData" routerLink="/registration">
            Regisztráció
        </button>
        <li class="nav-item dropdown" *ngIf="userData">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ userData.name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" routerLink="/profile">
                        Profil
                        <i class="bi bi-person-circle"></i>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" (click)="logout()">
                        Kijelentkezés
                        <i class="bi bi-door-closed-fill"></i>
                    </a>
                </li>
            </ul>
        </li>
        <div class="shopping-cart">
            <button routerLink="/cart">
                <i class="bi bi-cart"></i>
            </button>
        </div>
    </div>
</nav>