<div *ngFor="let column of columns" class="col-12 mb-2">
    <label [for]="column.key" class="form-label fw-bold mb-1 m-2">
        {{ column.title }}
    </label>
    <ng-container [ngSwitch]="column.type">
        <select *ngSwitchCase="'select'" [name]="column.key" class="form-select">
            <option *ngFor="let option of column.options" [ngValue]="option.value">
                {{ option.text }}
            </option>
        </select>
        <input *ngSwitchDefault [id]="column.key" [name]="column.key" [type]="column.type" class="form-control">
    </ng-container>
</div>
<button class="btn btn-primary">Megrendelem</button>