<h1 class="welcome-user">Profil</h1>
<h5 class="welcome">Üdv, {{userData.name}}!</h5>
<div class="container">
    <div class="profile-content">
        <div class="profile-info">
            <div>
                <strong>Teljes név:&nbsp;</strong>
                <span>{{userData.name}}</span>
            </div>
            <div>
                <strong>Email:&nbsp;</strong>
                <span>{{userData.email}}</span>
            </div>
            <div>
                <strong>Telefonszám:&nbsp;</strong>
                <span>{{userData.phone}}</span>
            </div>
            <div>
                <strong>Cím:&nbsp;</strong>
                <span>{{userData.address}}</span>
            </div>
            <div>
                <strong>Születési dátum:&nbsp;</strong>
                <span>{{userData.birth_date}}</span>
            </div>
            <div>
                <strong>Jogosultságod:&nbsp;</strong>
                <span>{{ userData.admin == 0 ? 'Felhasználó' : 'Admin' }}</span>
            </div>
        </div>
        <div class="profile-picture-container">
            <img src="" alt="Profilkép">
        </div>
    </div>
    <div class="actions">
        <div>
            <a data-bs-toggle="modal" data-bs-target="#ordersModal" class="actions-button" (click)="getOrders()">
                Rendelések
                <span class="bi bi-bag action"></span>
            </a>
        </div>
        <div>
            <a data-bs-toggle="modal" data-bs-target="#changePasswordModal" class="actions-button">
                Jelszó módosítása
                <i class="bi bi-key-fill action"></i>
            </a>
        </div>
        <div>
            <a data-bs-toggle="modal" data-bs-target="#changePasswordModal" class="actions-button">
                Cím módosítása
                <i class="bi bi-envelope-fill action"></i>
            </a>
        </div>
    </div>
</div>

<!-- Rendelések -->
<div class="modal fade" id="ordersModal" tabindex="-1" aria-labelledby="ordersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ordersModalLabel">
                    <ng-container *ngIf="selectedOrderItems && selectedOrderItems.length > 0 else ordersTitle">
                        Megrendelt termékek
                    </ng-container>
                    <ng-template #ordersTitle>
                        Megrendelések
                    </ng-template>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="selectedOrderItems = null"></button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="selectedOrderItems && selectedOrderItems.length > 0 else ordersList">
                    <button class="btn btn-secondary mb-3" (click)="selectedOrderItems = null">
                        Vissza
                    </button>
                    <ul class="order-details">
                        <li *ngFor="let item of selectedOrderItems">
                            <div class="order-item-container">
                                <div class="order-item-image">
                                    <img [src]="item.image" alt="{{item.name}}" width="80" height="80" class="rounded">
                                </div>
                                <div class="order-item-details">
                                    <h5 class="item-name">{{ item.name }}</h5>
                                    <div class="item-info">
                                        <span class="item-price">{{ item.totalPrice }} Ft</span>
                                        <span class="item-quantity">Mennyiség: {{ item.quantity }} {{ item.unit }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </ng-container>
                <ng-template #ordersList>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Megrendelt termékek</th>
                                <th>Végösszeg</th>
                                <th>Fizetési mód</th>
                                <th>Státusz</th>
                                <th>Megrendelő neve</th>
                                <th>Megrendelő telefonszáma</th>
                                <th>Megrendelő e-mail címe</th>
                                <th>Szállítási cím</th>
                                <th>Szállítási idő</th>
                                <th>Létrehozva</th>
                                <th>Módosítva</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders">
                                <td>{{ order.id }}</td>
                                <td>
                                    <button class="chooseButton" (click)="chooseSelectedItem(order)">
                                        Termékek
                                    </button>
                                </td>
                                <td>{{ order.totalPrice }} Ft</td>
                                <td>
                                    <ng-container [ngSwitch]="order.payment_method">
                                        <span *ngSwitchCase="'card'">Bankkártyával</span>
                                        <span *ngSwitchCase="'cash'">Készpénzzel</span>
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container [ngSwitch]="order.status">
                                        <span *ngSwitchCase="'pending'">függőben</span>
                                        <span *ngSwitchCase="'processing'">folyamatban</span>
                                        <span *ngSwitchCase="'shipped'">elküldve</span>
                                        <span *ngSwitchCase="'delivered'">kiszállítva</span>
                                        <span *ngSwitchCase="'cancelled'">törölve</span>
                                    </ng-container>
                                </td>
                                <td>{{ order.customers_name }}</td>
                                <td>{{ order.customers_phone }}</td>
                                <td>{{ order.customers_email }}</td>
                                <td>{{ order.delivery_address }}</td>
                                <td>{{ order.delivery_date | date: "yyyy.MM.dd" }}</td>
                                <td>{{ order.created_at | date: "yyyy.MM.dd HH:mm" }}</td>
                                <td>{{ order.updated_at | date: "yyyy.MM.dd HH:mm" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<!-- Jelszó módosítása -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">
                    Jelszó módosítása
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="changePassword()">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">
                            Jelenlegi jelszó
                        </label>
                        <input type="password" id="old_password" class="form-control" [(ngModel)]="old_password" name="old_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password" class="form-label">
                            Új jelszó
                        </label>
                        <input type="password" id="new_password" class="form-control" [(ngModel)]="new_password" name="new_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">
                            Új jelszó megerősítése
                        </label>
                        <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Mégse
                        </button>
                        <button type="submit" class="submitButton" data-bs-dismiss="modal" [disabled]="new_password == '' || new_password != confirmPassword">
                            Módosítás
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Cím módosítása -->
<div class="modal fade" id="changeAddressModal" tabindex="-1" aria-labelledby="changeAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeAddressModalLabel">
                    Cím módosítása
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="changeAddress()">
                    <div class="mb-3">
                        <label for="newAddress" class="form-label">
                            Új cím
                        </label>
                        <input type="text" id="newAddress" class="form-control" [(ngModel)]="new_address" name="new_address" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmNewAddress" class="form-label">
                            Új cím megerősítése
                        </label>
                        <input type="text" id="confirmNewAddress" class="form-control" [(ngModel)]="confirmNewAddress" name="confirmNewAddress" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
                        <button type="submit" class="submitButton" data-bs-dismiss="modal" [disabled]="new_address == '' || new_address !== confirmNewAddress">
                            Módosítás
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>