<div class="product-container">
    <div class="product-image">
        <img [src]="oneproduct.image_url" class="card-img-top" alt="Termék fotó">
    </div>
    <div class="product-details">
        <h5 class="card-title">
            {{ oneproduct.name }}
        </h5>
        <p class="card-text">
            <strong>Leírás:</strong> {{ oneproduct.description }}
        </p>
        <p class="card-text">
            <strong>Raktáron:</strong> 
            {{ oneproduct.stock }} {{ oneproduct.unit }}
        </p>
    </div>
    <div class="product-price">
        <p>
            <ng-container *ngIf="oneproduct?.promotion === 1; else noPromotion">
                <s>Ár: {{ oneproduct.price }} Ft/{{ oneproduct.unit }}</s>
                <br>
                <strong>Akció:</strong> {{ oneproduct.discount_price }} Ft/{{ oneproduct.unit }}
            </ng-container>
            <ng-template #noPromotion>
                <strong>Ár:</strong> {{ oneproduct.price }} Ft/{{ oneproduct.unit }}
            </ng-template>
        </p>
        <div class="quantity-selector">
            <label for="quantity">
                <strong>Mennyiség:</strong>
            </label>
            <input id="quantity" class="quantity-input" type="number" [(ngModel)]="quantitySelected" 
                (input)="quantitySelected = quantitySelected > oneproduct.stock ? oneproduct.stock : quantitySelected; updateTotalPrice()"
                [min]="oneproduct.unit === 'db' ? 1 : 0.1" 
                [max]="oneproduct.stock" 
                [step]="oneproduct.unit === 'db' ? 1 : 0.10" class="input">
            {{ oneproduct.unit }}
        </div>
        <div class="summary">
            <strong>Összesen:</strong>
            <br>
            <div class="summary-price">
                {{ quantitySelected.toFixed(2) }} {{ oneproduct.unit}} = {{ totalPrice.toFixed(2) }} Ft
            </div>
        </div>
        <div>
            <button type="button" class="add-to-cart" (click)="addBasket()">
                Kosárba
                <span class="bi bi-cart-plus-fill cart"></span>
            </button>
        </div>
    </div>
</div>