<div class="product-container">
    <div class="product-image">
        <img [src]="oneproduct.image_url" class="card-img-top" alt="Termék fotó">
    </div>
    <div class="product-details">
        <h5 class="card-title">
            {{ oneproduct.name }}
        </h5>
        <p class="card-text">
            <strong>Leírás:</strong> {{ oneproduct.description }}
        </p>
        <p class="card-text">
            <strong>Raktáron:</strong> 
            {{ oneproduct.stock }} {{ oneproduct.unit }}
        </p>
    </div>
    <div class="product-price">
        <p>
            <ng-container *ngIf="oneproduct?.promotion === 1; else noPromotion">
                <s>Ár: {{ oneproduct.price }} Ft/{{ oneproduct.unit }}</s>
                <br>
                <strong>Akció:</strong> {{ oneproduct.discount_price }} Ft/{{ oneproduct.unit }}
            </ng-container>
            <ng-template #noPromotion>
                <strong>Ár:</strong> {{ oneproduct.price }} Ft/{{ oneproduct.unit }}
            </ng-template>
        </p>
        <div class="quantity-selector">
            <label for="quantity">
                <strong>Mennyiség:</strong>
            </label>
            <input id="quantity" class="quantity-input" type="number" [(ngModel)]="quantitySelected" 
                (input)="quantitySelected = quantitySelected > oneproduct.stock ? oneproduct.stock : quantitySelected; updateTotalPrice()"
                [min]="oneproduct.unit === 'db' ? 1 : 0.1" 
                [max]="oneproduct.stock" 
                [step]="oneproduct.unit === 'db' ? 1 : 0.10" class="input">
            {{ oneproduct.unit }}
        </div>
        <div class="summary">
            <strong>Összesen:</strong>
            <br>
            <div class="summary-price">
                {{ quantitySelected.toFixed(2) }} {{ oneproduct.unit}} = {{ totalPrice.toFixed(2) }} Ft
            </div>
        </div>
        <div>
            <button type="button" class="add-to-cart" 
                [attr.data-bs-toggle]="quantitySelected > 0 ? 'modal' : null" 
                [attr.data-bs-target]="quantitySelected > 0 ? '#cartSuccessModal' : null" 
                (click)="addBasket()">
                Kosárba
                <span class="bi bi-cart-plus-fill cart"></span>
            </button>
        </div>
    </div>
</div>

<!-- Sikeres kosárba helyezés -->
<div class="modal fade" id="cartSuccessModal" tabindex="-1" aria-labelledby="cartSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartSuccessModalLabel">Sikeres kosárba helyezés</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Bezárás"></button>
            </div>
            <div class="modal-body">
                A termék sikeresen bekerült a kosárba!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-closes" data-bs-dismiss="modal">Folytatom a vásárlást</button>
                <button type="button" class="btn btn-cart" data-bs-dismiss="modal" routerLink="/basket">Kosár</button>
            </div>
        </div>
    </div>
</div>

<!-- Felugró üzenet -->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div *ngIf="isToastVisible" class="toast align-items-center text-white border-0 fade show"
        [ngClass]="{
            'bg-success': toastType === 'success',
            'bg-danger': toastType === 'danger',
            'bg-warning': toastType === 'warning'
        }" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{ toastMessage }}
            </div>
        </div>
    </div>
</div>