<footer class="footer">
    <div class="footer-container">
        <div class="about-us">
            <h3>Rólunk</h3>
            <p>Tudj meg többet elkötelezettségünkről a friss, organikus termékek iránt.</p>
            <a routerLink="aboutus">Katt ide!</a>
        </div>
        <div class="address">
            <h3>Cím</h3>
            <p>
                Látogass el hozzánk:
                <br>
                1065 Budapest Révay utca 16.
            </p>
        </div>    
        <div class="opening-hours">
            <h3>Nyitvatartás</h3>
            <ul class="hours">
                <li>
                    Hétfőtől Péntekig:
                    <br>
                    9:00 - 17:00
                </li>
                <li>Szombaton: 10:00 - 15:00</li>
                <li>Vasárnap: Zárva</li>
            </ul>
        </div>
        <div class="opinions">
            <h3>Vélemények</h3>
            <p>Hallgasd meg elégedett vásárlóinkat:</p>
            <div class="testimonials">
                <blockquote>"A legfrissebb termékeket vásároltam online!" - Bence B.</blockquote>
                <blockquote>"Gyors szállítás és nagyszerű ügyfélszolgálat!" - Gergő M.</blockquote>
            </div>
        </div>
        <div class="contact-us">
            <h3>Kapcsolat</h3>
            <p>Kérdésekkel kereshetsz minket:</p>
            <ul class="contact-info">
                <li><i class="bi bi-envelope-fill"></i>&nbsp; E-mail: </li>
                <li><i class="bi bi-telephone-fill"></i>&nbsp; Telefon: <br> &nbsp; +36 (20) 123-4567</li>
            </ul>
        </div>
    </div>
</footer>