:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-navbar {
    height: 10%;
    display: block;
}

::ng-deep .shaping {
    position: relative;
    flex: 1;
}

::ng-deep .shaping::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 15px;
    background-image: url("/background.png");
    background-repeat: repeat;
    background-size: 145px auto;
    opacity: 0.03;
    z-index: -1;
}

app-footer {
    height: 10%;
    display: block;
}