<div class="card cardmargin">
    <div class="card-body">
        <h5 class="card-title">
            <strong>Bejelentkezés</strong>
        </h5>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="E-mail">
            <label for="email">E-mail</label>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating">
                <input type="password" class="form-control" id="pass" placeholder="Jelszó">
                <label for="pass">Jelszó</label>
            </div>
            <span class="eye input-group-text">
                <i class="bi bi-eye"></i>
            </span>
        </div>
        <button type="button" routerLink="/profile" class="btn btn-primary">
            Bejelentkezés
            <i class="bi bi-box-arrow-right"></i>
        </button>
    </div>
    <div class="registrationmargin">
        <h6>Még nem regisztráltál?</h6>
        <button type="button" class="btn btn-primary" routerLink="/registration">
            Regisztráció
            <i class="bi bi-person-plus-fill"></i>
        </button>
    </div>
</div>