.basket-container {
    padding: 20px;
}

.basket-header {
    text-align: center;
}

.basket-null {
    text-align: center;
    margin-top: 75px;
    font-size: 100px;
}

.basket-item {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

.product-image {
    width: 200px;
    height: auto;
    margin-right: 25px;
    margin-left: 25px;
}

.product-details {
    flex-grow: 1;
}

.quantity-container {
    margin-top: 10px;
}

.quantity-field {
    display: inline-flex;
    align-items: center;
}

.input {
    width: 100px;
}

.unit-label {
    margin-left: 5px;
}

.item-summary {
    font-weight: 500;
    font-size: larger;
    margin-top: 15px;
}

.delete-button {
    width: 150px;
    height: 50px;
    margin-right: 25px;
}

.basket-summary {
    border-top: 1px solid #a5a5a5;
    padding-top: 20px;
    text-align: center;
}