<div class="about-us-container">
    <section class="welcome">
        <div class="container">
            <h1>Üdvözöljük a GyümiZöli-nél!</h1>
            <p class="welcome-text">
                Célunk, hogy a legfrissebb és legfinomabb gyümölcsöket és zöldségeket kínáljuk Önnek közvetlenül tőlünk. Hiszünk abban, hogy a friss, természetes alapanyagok nemcsak az egészségünkre, hanem az életminőségünkre is pozitív hatással vannak.
            </p>
        </div>
    </section>
    
    <section class="choose">
        <div class="container">
            <h2 class="choose-text">Miért válasszon minket?</h2>
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="bi bi-box-seam fa-3x mb-3 text-success"></i>
                            <h3 class="card-title h5">Frissesség</h3>
                            <p class="card-text">
                                Minden termékünket gondosan válogatjuk, hogy biztosítsuk a legmagasabb minőséget.
                                A gyümölcsök és zöldségek közvetlenül a tőlönk érkeznek, így garantáljuk, hogy mindig a legfrissebb termékeket kapja.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="bi bi-flower1 fa-3x mb-3 text-success"></i>
                            <h3 class="card-title h5">Fenntarthatóság</h3>
                            <p class="card-text">
                                Elkötelezettek vagyunk a fenntartható mezőgazdaság mellett.
                                Támogatjuk a helyi termelőket is, és törekszünk arra, hogy csökkentsük a környezeti lábnyomunkat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="bi bi-truck fa-3x mb-3 text-success"></i>
                            <h3 class="card-title h5">Kényelem</h3>
                            <p class="card-text">
                                Webshopunk lehetővé teszi, hogy otthonról, kényelmesen rendeljen.
                                Gyors és megbízható szállítást kínálunk üzletünk, hogy Önnek csak a választásra kelljen koncentrálnia.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="bi bi-basket fa-3x mb-3 text-success"></i>
                            <h3 class="card-title h5">Változatos Kínálat</h3>
                            <p class="card-text">
                                Széles választékunkban megtalálhatók a szezonális gyümölcsök és zöldségek, valamint későbbiekben különleges termékek is, amelyekkel feldobhatja az étkezéseit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mission">
        <div class="container">
            <h2 class="mission-text">Küldetésünk</h2>
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <p>
                        Küldetésünk, hogy egészséges és ízletes gyümölcsöket és zöldségeket kínáljunk, amelyek hozzájárulnak az Ön és családja jólétéhez.
                        Hiszünk abban, hogy a friss, természetes alapanyagok nemcsak táplálóak, hanem élvezetesek is.
                    </p>
                    <div class="mt-4">
                        <p class="fw-bold">
                            Fedezze fel a GyümiZöli kínálatát, és tapasztalja meg a frissesség ízét!
                            <br>
                            Köszönjük, hogy minket választott!
                        </p>
                        <a routerLink="/home" class="btn btn-success mt-3">Böngésszen termékeink között</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>